.posts {
  overflow: hidden;
  li {
    display: inline-block;
    width: 100%;
    /*border-bottom: 1px solid lighten($main-color, 6%);*/

    &:first-child {
      /*border-bottom: 1px solid lighten($main-color, 6%);*/
    }

    .p-wrap {
      padding: $spacing-sm*0.8 $spacing-m $spacing-m*0.9 $spacing-m;
      background: white;
      transition: all .15s ease-in;
      &:active {
        background: darken($main-color, 3%);
      }
      &:hover {
        background: #f2f3f3;
        /*padding-left: $spacing-sm + $spacing-s;*/
        time {
          color: #a6abb1;
        }
        div .excerpt {
          color: #737a80;
        }
        &::after {
          /*content:'\2192';*/
          margin-left: $spacing-xs;
          @media (max-width: 942px) {
            content: none;
            margin: 0;
          }
        }
      }
      @media (max-width: 942px) {
        padding: $spacing-sm*0.8 $spacing-m $spacing-m*0.9 $spacing-m;
      }
      p {
        display: inline;
        margin: $spacing-xs 0 0;
      }
    } // end .p-wrap

    time {
      color: #90979e;
      font-size: 145%;
      font-weight: lighter;
      padding-right: $spacing-s;
      display: block;
      @media (max-width: 942px) {
        display: block;
      }
    }

    a {
      color: #1d1f21;
      text-decoration: none;
    }

    div .h-wrap {
      display: inline;
      padding: 0;
      margin: 0;
    }

    div .h-wrap h1 {
      font-size: 160%;
      font-weight: 300;
      margin: 0;
      margin-top: -2px;
    }

    div .excerpt {
      font-size: 82%;
      max-width: 650px;
      margin-top: $spacing-xs;
      color: #595f65;
    }

    div .excerpt img {
      display: none;
    }

  } // end li
} // end .posts

.pagination {
  overflow: hidden;
  margin-top: 40px;
  color: lighten($text-color, 60%);
  text-align: center;
  border: 1px solid $border-color;

  a, span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    text-decoration: none;

    &:first-child {
      text-decoration: none;
      border-right: 1px solid $border-color;
    }
  }

  a:hover {
      text-decoration: none;
      background-color: darken($smoke-color, 5%);
  }
} // end .pagination
